<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "JTAFTests" parallel = "tests" thread-count="5">
	<listeners>
		<listener class-name = "org.uncommons.reportng.HTMLReporter"/>	
		<listener class-name = "org.uncommons.reportng.JUnitXMLReporter"/>			
	</listeners>
    
    <!--<test name="TestSearch_TESTENV">
    	<parameter name="APPURL" value="https://chgtest.softco.com/softco/"/>
        <classes>
       		<class name="tests.TestMissingClient" />
       		<class name="tests.TestDocumentSearch" />
       		<class name="tests.TestInvoiceSearch" />
       		<class name="tests.TestTimeSheetSearch" />
       		<class name="tests.TestCarRentalSearch" />
       		<class name="tests.TestAirfareSearch" />
       		<class name="tests.TestHotelSearch" />
       		<class name="tests.TestRequestSearch" />       		
        </classes>
    </test>-->    
     <test name="TestENV_SearchPerUserInParallel">
    	<parameter name="APPURL" value="https://chgtest.softco.com/softco/"/>
        <classes>       		
       		<class name="functionaltests.TestSearchPerUserInParallel" />       		     		
        </classes>
    </test>
    <test name="DEVENV_SearchPerUserInParallel">
    	<parameter name="APPURL" value="https://chgdev.softco.com/softco/"/>
        <classes>       		
       		<class name="functionaltests.TestSearchPerUserInParallel" />       		     		
        </classes>
    </test>
   
</suite>
<!-- Suite -->